body{
    margin:0;
    padding:0;
    /* background-color: aquamarine; */
}
a{
    text-decoration: none;
    display:block;
}
a:hover{
    cursor:pointer;
    text-decoration: none;
}
li{
    list-style:none;
}
h3{
    display: inline-block;
    font-size:22px;
}
textarea{

    resize:none;
}


/* 导航栏标签样式 */
.header .nav_logoBox{
    width:600px;
    float:left;
    margin-top:8px
}
.top{
    height:78px;
    margin:0;

}
.header .top .logo{
    height:68px;
    width:72px;
    float:left;
    margin-top:-5px;
    margin-bottom:2px;
    margin-left:24px;
}
.header .nav_logoBox h3{
    margin-left:18px;
    font-size:22px;
    margin-top:18px;
}

.nav-box{
    /* margin:auto 0; */
    margin-top:14px;
    font-size:18px;

}

/* main 中的样式 */
.main{
    margin-top:16px;
}

/* mian 中 侧边栏的样式*/
.main .aside-left{
    height:480px;
    width:200px;
    background-color: #2d3e4ff2;

    border-radius:6px;
    float:left;
}
.main .aside-left ul {
    padding:0;
    margin:0;
    margin-top:20px
}
/*辅助盒子，帮助定位*/
.box{
    height:36px;
}
.main .aside-left ul li{
    height:52px;
    width:200px;
    margin:0 auto;
    float:left;
    font-size:16px;
    /* text-align: center; */
    padding-left:60px;
    line-height: 52px;
}
.main .aside-left ul li:hover{
    background-color:#425261;

}
.main .aside-left ul li a{
    color:#fff;
}

/*  main 中 主内容样式 */
.main .section{
    height:480px;
    width:1024px;
    background-color: #f8f8f8;
    float:right;
    margin-right:14px;
    border-radius: 6px;
}
/*  */
.main .section .headline{
    height:30px;
    padding-top:12px;
}
.main .section .headline p{
    font-size:20px;
    font-weight: bold;
    margin-left:28px;

}

/* main 中 content 的样式 */
.main .section .content{
    height:400px;
    width:880px;
    background-color:#fff;
    margin:0 auto;
    border-radius: 6px;
    position:relative;
}

/* 上传图书图片样式 */
.main .section .content .showImg .book_img{
    height:180px;
    width:171px;
    background-color: #f8f8f8;
    float:left;
    margin-left:120px;
    margin-top:45px;
}
.main .section .content .showImg .book_img img{
    height:100%;
    width:100%;
    display:none;
}
.main .section .content .showImg .uploads{
    position:absolute;
    width:161px;
    height:170px;
    text-align:center;
    top:50px;
    left:125px;

}
.main .section .content .showImg .uploads span{
    position:absolute;
    top:62px;
    right:54px;

}
.main .section .content .showImg .uploads .filepath{
    height:100%;
    width:100%;
    opacity:0;
}


/* 图书信息样式 */

.form-group{
    margin-top:10px;
}

.input{
    width:120px;
    margin-left:10px;

}

.main .section .content .info{
    position:absolute;
    right:252px;
    top:45px;


}
.main .section .content .choice{
    /* height:52px; */
    /* width:88px; */
    position:absolute;
    right:50px;
    top:60px;

}
.main .section .content .classify_words{
    position:absolute;
    right:168px;
    top:63px;
}
.main .section .content .intro{
    height:88px;
    width:510px;
    position:absolute;
    bottom:68px;
    left:120px;
    resize:none;
}

.main .section .content #submit{
    width:120px;
    height:38px;
    position: absolute;
    bottom: 5px;



}