<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--  开启二级缓存      -->
        <setting name="cacheEnabled" value="true"/>
        <!--  开启延迟加载      -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--  按需加载      -->
        <setting name="aggressiveLazyLoading" value="false"/>
        <!--  开启对数据库生成主键的支持      -->
        <setting name="useGeneratedKeys" value="false"/>
        <!--  指定使用日志包      -->
        <setting name="logImpl" value="LOG4J"/>
        <!--  开启驼峰命名法对应      -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
    <!-- 设置别名，默认为 User       -->
        <typeAlias type="com.shuzhai.domain.User" alias="User"/>
        <typeAlias type="com.shuzhai.domain.UserInfo" alias="UserInfo"/>
        <typeAlias type="com.shuzhai.domain.BookPic" alias="BookPic"/>
        <typeAlias type="com.shuzhai.domain.Book" alias="Book"/>
        <typeAlias type="com.shuzhai.domain.Category" alias="Category"/>
        <typeAlias type="com.shuzhai.domain.BookReview" alias="BookReview"/>
        <typeAlias type="com.shuzhai.domain.Page" alias="Page"/>
    </typeAliases>



</configuration>